<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CRMPath" value="http://crm2016gs.eastus.cloudapp.azure.com:5555/JNCRMBRANCH1"/>
    <add key="UserName" value="GRUPOSABRA\pmagarinosadmin"/>
    <add key="Password" value="Sabra2015"/>
    <add key="CRMTimeout" value="999"/>
  </appSettings>
</configuration>